
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/libs/jquery/jquery-1.9.1.min.js"></script>
    <script src="/static/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div align="center">
        {% if count == 0 %}
          <div>
            <h1>已无满足条件的任务可取</h1>
          </div>
        {% else %}
          <div>
            <h1>已经申请成功{{count}}个满足条件的任务</h1>
          </div>
        {% endif %}
          <a href="/audit/user_pending_video">跳转到任务列表</a>
    </div>
  </body>
</html>
