
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="err">

    <!-- Le styles -->
    <link href="/static/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 10px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 10px;
      }
      p.text-left {
        padding-left: 80px;
      }
      #btn_detail{
        position: fixed;
        z-index: 1000;
        display: none;
        left: 5px;
        top: 5px;
      }
      #detail_panel{
        position: absolute;
        top:0px;
        width: 1000px;
        border: 2px solid green;
        padding-left: 10px;
        padding-top: 10px;
      }

      #detail_panel .control-group{
        margin-bottom: 10px;
      }

      #small_img_list img{
        border:1px solid #cccccc;
        cursor:pointer;
      }
    </style>
    <link href="/static/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/libs/jquery/jquery-1.9.1.min.js"></script>
    <script src="/static/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <!--
    <script src="/static/libs/transcode/fantizi.js"></script>
    --!>
    <script type="text/javascript">
      var selected_img = null;
      var dst_img = null;
      //显示或隐藏视频详细信息面板
      function show_detail_panel(to_show){
        var pan_disp = "block";
        var btn_disp = "none";
        if(!to_show){
          pan_disp = "none";
          btn_disp = "block";
        }
        var btn_detail = document.getElementById("btn_detail");
        var detail_panel = document.getElementById("detail_panel");
        btn_detail.style.display = btn_disp;
        detail_panel.style.display = pan_disp;
      }
      //清除提示
      function clear_tips(){
        var tip_ids = new Array("title_tips","img_tips");
        for (var index in tip_ids){
          tip_item = document.getElementById(tip_ids[index]);
          tip_item.innerText = "";
        }
      }

      //禁用UE
      function freezeUE(){
        var ids = new Array("btn_pass","btn_no_pass","btn_no_pass2");
        for (var i = 0; i < ids.length; i++) {
          var btn = document.getElementById(ids[i]);
          btn.disabled = "disabled";
        }
      }

      //检测表单
      function check_form(){
        clear_tips();
        //check value
        var title = document.getElementById("detail_form").title.value;
        if(title == ""){
          var tips = document.getElementById("title_tips");
          tips.innerText = "标题不能为空";
          return false;
        }
        var tags = document.getElementById("detail_form").tags.value;
        if(tags == ""){
          var tips = document.getElementById("tags_tips");
          tips.innerText = "标签不能为空";
          return false;
        }

        if(selected_img == null){
          var tips = document.getElementById("img_tips");
          tips.innerText = "请选择图片";
          return false;
        }
        return true;
      }

      //响应视频详细信息上的“确定”按钮
      function on_finish_edition(){
        {% if edit != 1 %}
          show_detail_panel(false);
          return;
        {% endif %}
        if(!check_form()){
          return ;
        }
        dst_img = selected_img;
        show_detail_panel(false);
      }

      //响应视频播放按钮
      function on_btn_play(){
        var top = window.screen.availHeight/5;
        var left = window.screen.availWidth/5;
        var width = "1200";
        var height = "800";
        var feature = "width=" + width + ",height=" + height + ",top=" + String(top) + ",left=" + String(left);
        var video_url = "/audit/playvideo?video=" + "{{vinfo.video_url}}"
        var pop_win = window.open(video_url,"",feature);
        pop_win.focus();
      }

      //提交表单前的检测
      function on_submit(){
        if(!check_form()){
          return false;
        }
        if(dst_img == null){
          dst_img = selected_img
        }
        var element_logo = document.getElementById("detail_logo");
        element_logo.value = dst_img;
        return true;
      }

      function on_pass(){
        if(!on_submit()){
          return ;
        }
        form = document.getElementById("detail_form");
        freezeUE();
        form.submit();
      }

      function on_deny(){
        form = document.getElementById("deny_form");
        freezeUE();
        form.submit();
      }

      function on_load(){
        {% ifnotequal edit 1 %}
          return ;
        {% endifnotequal %}
        var form_obj = document.getElementById("detail_form");
        var objs = new Array(form_obj.title,form_obj.tags,form_obj.description);
        for (var index in objs){
          objs[index].value = simplized(objs[index].value);
        }
      }

      //选中图片效果
      {% ifequal edit  1 %}
        $(function(){
            $("#small_img_list img").bind("click",function(){
              $(this).css("border","2px solid red").siblings().css("border","2px solid #cccccc");
              selected_img = $(this).context.src;
            })
        })
        $(function(){
            $("#small_img_list img").bind("dblclick",function(){
              on_finish_edition();
            })
        })
      {% endifequal %}

    </script>

  </head>

  <body onload="on_load()">
    <button id="btn_detail" class="btn btn-inverse" type="button" onclick="javascript:void(show_detail_panel(true));">视频详情</button>

    <div id="detail_panel" class="hero-unit" style="position:fixed">
      <form class="form-horizontal" id="detail_form" method="POST" action="/audit/onauditvideo" >
        <div class="control-group">
          <label class="control-label" ><p class="text-left">标题：</p></label>
          <div class="controls">
            {% ifequal edit 1 %}
              <input id="title" type="text" class="input-xxlarge" name="title" style="width:100%;" value="{{vinfo.title}}">
              <font color="red" id="title_tips"></font>
            {% else %}
              <span class="input-xxlarge uneditable-input" style="width:100%;" >{{vinfo.title}}</span>
            {% endifequal %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><p class="text-left">标签：</p></label>
          <div class="controls">
            {% ifequal edit 1 %}
              <input id="tags" type="text" class="input-xxlarge" name="tags" style="width:100%;"value="{{vinfo.tags}}">
              <font color="red" id="tags_tips"></font>
            {% else %}
              <span class="input-xxlarge uneditable-input" style="width:100%;">{{vinfo.tags}}</span>
            {% endifequal %}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><p class="text-left">频道：</p></label>
          <div class="controls">
                      {% for item in channel_list %}
                      <label class="radio inline">
                        {% ifequal item vinfo.channel %}
                        <input type="radio" name="channel" checked="checked" value="{{item}}">{{item}}
                        {% else %}
                        <input type="radio" name="channel" value="{{item}}">{{item}}
                        {% endifequal %}
                      </label>
                      {% endfor %}
          </div>
        </div>
        <div>
          <div style="float:left;">
                <div class="control-group">
                      <label class="control-label"><p class="text-left">上传用户：</p></label>
                      <div class="controls">
                        <span class="input-xlarge uneditable-input">{{vinfo.user}}</span>
                      </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><p class="text-left">时长：</p></label>
                    <div class="controls">
                      <span class="input-xlarge uneditable-input">{{vinfo.duration}}</span>
                    </div>
                </div>
                <div class="control-group">
                      <label class="control-label"><p class="text-left">播放量：</p></label>
                      <div class="controls">
                        <span class="input-xlarge uneditable-input">{{vinfo.view_pages}}</span>
                      </div>
                </div>
                <div class="control-group">
                      <label class="control-label"><p class="text-left">审核状态：</p></label>
                      <div class="controls">
                        <span class="input-xlarge uneditable-input">{{vinfo.audit_state}}</span>
                      </div>
                </div>
            <div class="control-group">
                  <label class="control-label"><p class="text-left">是否免审：</p></label>
                  <div class="controls">
                    <span class="input-xlarge uneditable-input">
                      {% ifequal vinfo.ttype 1 %}
                        是
                      {% else %}
                        否
                      {% endifequal %}
                    </span>
                  </div>
            </div>
            <div class="control-group">
                  <label class="control-label"><p class="text-left">视频tid：</p></label>
                  <div class="controls">
                    <span class="input-xlarge uneditable-input">
                      {{vinfo.tid}}
                    </span>
                  </div>
            </div>
          </div>
          <div>
            <div class="control-group">
              <label class="control-label" style="width:50px;">简介：</label>
              <div class="controls">
                  <textarea id="description" name="description" style="height:200px;">{{vinfo.description}}
                  </textarea>
                  <font color="red" id="descripiton_tips"></font>
              </div>
            </div>
            <!--
                  <p class="btn" onclick="translate_test();" >繁体</p>
                  <p class="btn btn-primary" onclick="translate_simple();" align="right">转化为简体简体</p>
                  -->
          </div>
        </div>
        <input type=hidden name="tid" value="{{vinfo.tid}}" />
        <input type=hidden name="funshion_id" value="{{vinfo.funshion_id}}" />
        <input type=hidden name="logo" id="detail_logo" value="-1"/>
        <input type=hidden name="result" value="pass" />
      </form>
      <div>
        <b>图片：</b>
        <font color="red" id="img_tips"></font>
      </div>
      <div id="small_img_list">
        {% for item in vinfo.small_image_list %}
          {% ifequal vinfo.image_logo item %}
              <img src={{item}} style="border:2px solid red" />
          {% else %}
              <img src={{item}} />
          {% endifequal %}
        {% endfor %}
      </div>

      <div align="center">
        <button class="btn btn-primary" onclick="javascript:void(on_finish_edition());" align="right" style="margin-right:120px">确定</button>
        <button onclick="javascript:void(on_deny());" id="btn_no_pass2"
            {% ifnotequal edit 1 %}
              disabled="disabled"
            {% else %}
              class="btn btn-warning"
            {% endifnotequal %}
            >不通过
        </button>
      </div>
    </div>

    <div class="container" style="width:2500px">
      <img src={{vinfo.large_image}} />
      <ul class="row-fluid" style="margin-top:10px;">
          <li class="span2">
            <button class="btn btn-primary" onclick="javascript:void(on_btn_play());">播放视频</button>
          </li>
          <li class="span2">
            <button onclick="javascript:void(on_pass());" id="btn_pass"
            {% ifnotequal edit 1 %}
              disabled="disabled"
            {% else %}
              class="btn btn-success"
            {% endifnotequal %}
            >通过</button>
          </li>
          <li class="span2">
            <button onclick="javascript:void(on_deny());" id="btn_no_pass"
            {% ifnotequal edit 1 %}
              disabled="disabled"
            {% else %}
              class="btn btn-warning"
            {% endifnotequal %}
            >不通过</button>
          </li>
      </ul>
    </div>

    <form method="POST" action="/audit/onauditvideo" id="deny_form">
      <input type=hidden name="tid" value="{{vinfo.tid}}" />
      <input type=hidden name="funshion_id" value="{{vinfo.funshion_id}}" />
      <input type=hidden name="result" value="deny" />
    </form>

  </body>
</html>
