{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
	{% block link%}{% endblock %}	
</head>

{% block script %}{% endblock %}

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
        		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        			<a href="/accounts/logout/" target="_top">注销</a>
        		</button>
        		<a class="brand" href="/admin/" target="workspace">欢迎, {{ username }}</a>
			</div>
		</div>
	</div>
	
	<div class="well sidebar-nav">
		<ul class="nav nav-list ">          
			<li>
	            <a>爬虫订阅</a>
	            <ul class="nav nav-list">
	            	<li><a href="{% url 'youtube' %}" target="workspace">YouTube</a></li>
		            <li><a href="{% url 'youku' %}" target="workspace">优酷</a></li>		            
		            <li><a href="{% url 'add_order' %}" target="workspace">频道订阅</a></li>		           
		            <li><a href="{% url 'keyword' %}" target="workspace">关键词订阅</a></li>
		            <li><a href="{% url 'page' %}" target="workspace">页面订阅</a></li>
		            <li><a href="{% url 'cat' %}" target="workspace">分类页订阅</a></li>
		            <li><a href="{% url 'subject' %}" target="workspace">专题订阅</a></li>
	            </ul>
	        </li>
	          
	        <li>
	        	<a>视频资料库</a>
	            <ul class="nav nav-list">
	            	<li><a href="{% url 'video' %}" target="workspace">小视频资料库</a></li>
	            	<li><a href="{% url 'douban' %}" target="workspace">豆瓣资料库</a></li>
	            	<li><a href="{% url 'fun_db' %}" target="workspace">风行资料库</a></li>
	        	</ul>
	        </li>
	        
	        <li>
	        	<a>管理</a>
	            <ul class="nav nav-list">
		            <li><a href="{% url 'copyright_channel' %}" target="workspace">版权频道</a></li>
		            <li><a href="{% url 'blacklist' %}" target="workspace">黑名单</a></li>
	        	</ul>
	        </li>
	        
	        <li>
	        	<a>上传转帖</a>
	            <ul class="nav nav-list">
		            <li><a href="{% url 'repost' %}" target="workspace">转帖</a></li>
		            <li><a href="{% url 'upload' %}" target="workspace">上传</a></li>
		            <li><a href="{% url 'repost_space' %}" target="workspace">用户空间</a></li>
	        	</ul>
	        </li>
	        
	        <li>
	        	<a>长视频库</a>
	            <ul class="nav nav-list">
		            <li><a href="{% url 'xvsync' %}" target="workspace">长视频展示</a></li>
		            <li><a href="{% url 'xv_edit' %}" target="workspace">视频耦合操作</a></li>
 	        	</ul>
	        </li>
	        
	        <li>
	            <a>系统设置</a>
	            <ul class="nav nav-list">
	            	<li><a href="/admin/password_change/" target="workspace" >修改密码</a></li>
	            </ul>
	        </li>
          
			<li>
	            <a href="/accounts/logout/" target="_top">退出系统</a>
			</li>
		</ul>
	</div>

</body>
</html>
