li a {
    color: black;
}
/*
table{
    width:100%;
}

th{
    height:50px;
}
*/
th{
    text-align:right;
}

td{
    text-align:left;
}

body {
    /*
    background: gray url("watermark.png") no-repeat right bottom;
    background: gray url("watermark.png");
    background: gray ;
    padding: 20px;

    */
    background-color:rgb(222,233,246);
    padding: 20px;
}
