{% load myTag static %}

	<script>
        function pageCheck()
        {
            try {
                var x=document.getElementById("{{channel_id}}_page_go").value;
                if(x=="")    throw "值为空";
                if(isNaN(x)) throw "不是数字";
                if(x>{{ page_count }})     throw "页数太大";
                if(x<1)      throw "页数太小";
            }
            catch(err) {
                var y=document.getElementById("err_doc");
                y.innerHTML="错误：" + err + "。";
                event.returnvalue=false;
                return
            }
            //location.href = "?page="+x+"&count="+{{count}};
            //$('#'+{{ channel_id }}).load("{% url 'xv_show' %}", {"channel_id":{{ channel_id }},"page":x,"count":{{count}},"cond":'{{cond}}',"content":'{{content}}',"screen":'{{screen}}'});
            window.location.href = "/xvsync/xvsync?channel_id={{ channel_id }}"+"&content={{content}}"+"&page="+x+"&cond={{cond}}"+"&screen={{screen}}";
        }
        
        function turnPage(xxx,yyy){
	    	//$('#'+{{ channel_id }}).load("{% url 'xv_show' %}", {"channel_id":{{ channel_id }},"page":xxx,"count":yyy,"cond":'{{cond}}',"content":'{{content}}',"screen":'{{screen}}'}); //ajax加载页面
	    	window.location.href = "/xvsync/xvsync?channel_id={{ channel_id }}"+"&content={{content}}"+"&page="+xxx+"&cond={{cond}}"+"&screen={{screen}}";
		}
		
	</script>
	
    <style type="text/css">
        img {
            width:100%;
            height:200px;
        }
        td {
		    text-align:center;
		    margin:auto;
		}
		.pic_word font{ left; top;font-weight:bold;color:#ff0000; position: absolute;}
    </style>
    
    <div class="tab-content">
		<div class="tab-pane active" id="panel1">
			<div class="row">
				<div class="span12">
					<ul class="thumbnails">
						{% for data in video_list %}
							<li class="span6" style="float:left;">
								<div class="row">
									<div class="span2 pic_word">
										{% if data.paid == 1 %}
											<font>付费</font>
										{% endif %}
										<a href="{% url 'media_details' %}?mid={{data.cid}}&channel_id={{channel_id}}" target="workspace">
											<img src="{{ posters_path }}{{ data.poster }}"/>
										</a>
									</div>											
									<div class="span4">
										<h4><a href="{% url 'media_details' %}?mid={{data.cid}}&channel_id={{channel_id}}" target="workspace">{{ data.title }}</a></h4>
										<p>导演：{{ data.director|default_if_none:"(暂无)" }}</p>
										<p>演员：{{ data.actor|default_if_none:"(暂无)" }}</p>
										<p>时间：{{ data.release_date|date:"Y-m-d" }}</p>
										<p>类型：{{ data.type|default_if_none:"(暂无)" }}</p>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
    
    <div>			
    	<table class="table">
            <tbody>
                <tr>
                    <td>总计<b>{{ video_total }}</b>条, <b>{{ page_count }}</b>页 </td>
                    <td>
                        <div>
                        	第<input class="text span1" id="{{channel_id}}_page_go" name="page" value={{page}} placeholder="几" onkeypress="if(event.keyCode==13||event.which==13){return pageCheck()}">页
                            <input id="page_subit" type="button" value="转到" class="btn btn-primary" onclick="pageCheck()"></input>
                            <p id="err_doc"></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>	
	
	<div class="pagination pagination-large">
        <ul>
            {% if page > 1%}
                <li><a href="#" onclick='turnPage("1","{{count}}")'>&lt;&lt;</a> </li>
                <li><a href="#" onclick='turnPage("{{page|add:-1}}","{{count}}")'>&lt;</a></li>
            {% else %}
                <li class="disabled"><a>&lt;&lt;</a> </li>
                <li class="disabled"><a>&lt;</a> </li>
            {% endif %}

            {% for pg in page_list %}
                {% if pg == page %}
                    <li><a class="btn btn-success" href="#" onclick='turnPage("{{pg}}","{{count}}")'>{{pg}}</a></li>
                {% else %}
                    <li><a href="#" onclick='turnPage("{{pg}}","{{count}}")'>{{pg}}</a></li>
                {% endif %}
            {% endfor %}

            {% if page < page_count %}
                <li><a href="#" onclick='turnPage("{{page|add:1}}","{{count}}")'>&gt;</a></li>
                <li><a href="#" onclick='turnPage("{{page_count}}","{{count}}")'>&gt;&gt;</a></li>
            {% else %}
                <li class="disabled"><a>&gt;</a></li>
                <li class="disabled"><a>&gt;&gt;</a></li>
            {% endif %}
        </ul>
    </div>        		        
		



