{% extends "base.html" %}

{% load myTag %}

{% block content %}

<script>
	$(document).ready(function() {
		$("#replace_title").click(function(){
			$("#name").val("{{ dou_detail.title.0 }}");
			return false;
		});
		$("#replace_dir").click(function(){
			$("#director").val("{{ dou_detail.director|join }}");
			return false;
		});
		$("#replace_act").click(function(){
			$("#actor").val("{{ dou_detail.actor|join }}");
			return false;
		});
		$("#replace_categ").click(function(){
			$("#category").val("{{ dou_detail.type }}");
			return false;
		});
		
		$('input[name=btn_submit]').click(function(){
			//send request
            $.get("/api/subscribe/fun/replace/", $(this).closest('form').serialize(), function(data) {
                //history.go(-1);
                //$(".body_class").load("{% url 'fun_db' %}");
                location.href = document.referrer;
            });
        });
        
		$('input[name=btn_del]').click(function(){
        	$.get("/api/subscribe/fun/eliminate/",$(this).closest('form').serialize(), function(data){
                //history.go(-1);
                //$(".body_class").load("{% url 'fun_db' %}");
                location.href = document.referrer;
        	});
        });	
	 });   
</script>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form id="form" action="">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>条目\网站	</th>
							<th>风行</th>
							<th>豆瓣</th>
							<th>操作</th>
						</tr>
					</thead>				
					<tbody>
						<tr>
							<td><input id="border" name="id" value="{{ rel_id }}">ID</td>
							<td><input id="border" name="media_id" value="{{ fun_detail.media_id }}">{{ fun_detail.media_id }}</td>
							<td><input id="border" name="show_id" value="{{ dou_detail.show_id }}">{{ dou_detail.show_id }}</td>
							<td></td>
						</tr>
						<tr class="success">
							<td>标题</td>
							<td><textarea type="text" row="2" name="name" id="name">{{ fun_detail.name }}</textarea></td>
							<td id="dou_title">
                                {% for t in dou_detail.title %}
                                    {{ t }} <br>
                                {% endfor %}
                            {{ title }}
                            </td>
							<td><button id="replace_title" class="btn btn-primary">替换</button></td>
						</tr>
						<tr class="error">
							<td>导演</td>
							<td><textarea type="text" row="2" name="director" id="director">{{ fun_detail.director }}</textarea></td>
							<td id="dou_director">
                                {% for d in dou_detail.director %}
                                    {{ d }} <br>
                                {% endfor %}
                            </td>
							<td><button id="replace_dir" class="btn btn-primary">替换</button></td>
						</tr>
						<tr class="warning">
							<td>演员</td>
							<td><textarea type="text" rows="5" name="actor" id="actor">{{ fun_detail.actor }}</textarea></td>
							<td id="dou_actor">
                                {% for a in dou_detail.actor %}
                                    {{ a }} <br>
                                {% endfor %}
                            </td>
							<td><button id="replace_act" class="btn btn-primary">替换</button></td>
						</tr>
						<tr class="info">
							<td>分类</td>
							<td><textarea type="text" name="category" id="category">{{ fun_detail.category }}</textarea></td>
							<td id="dou_category">{{ dou_detail.type }}</td>
							<td><button id="replace_categ" class="btn btn-primary">替换</button></td>
						</tr>
					</tbody>
				</table>
				<div class="control-group">
			        <div class="col-sm-offset-2 col-sm-10">
			        	{% if perms.subscribe.modify_fun %}
							<input type="button" name="btn_submit" class="btn btn-primary" value="提交"/>
						{% else %}
							<input type="button" name="btn_submit" class="btn btn-primary" disabled="true" value="提交"/>	
						{% endif %}
			            
			            {% if perms.subscribe.del_fun %}
							<input type="button" name="btn_del" class="btn btn-primary" value="剔除"/>
						{% else %}	
							<input type="button" name="btn_del" class="btn btn-primary" disabled="true" value="剔除"/>
						{% endif %}
						
			            <input type="button" class="btn btn-primary" value="返回" onClick="location.href='javascript:history.go(-1)'"/>
			        </div>
			    </div>
			<form/>
		</div>
	</div>
</div>


{% endblock %}
