{% extends "base.html" %}
{% load pagination_tags myTag static %}

{% block content %}

	<script>
        $(document).ready(function() {
            $("#content_box").val("{{ content }}");
            
            {% for item in disable_item %}
            	{% if disable == item.0 %}
            		change_disable_item('{{item.1}}', '{{item.0}}');
            	{% endif %}
            {% endfor %}
            
            {% for item in status_item %}
            	{% if status == item.0 %}
            		change_status_item('{{item.1}}', '{{item.0}}');
            	{% endif %}
            {% endfor %}
           
            {% for item in order_item %}
            	{% if order == item.0 %}
            		change_order_item('{{item.1}}', '{{item.0}}');
            	{% endif %}
            {% endfor %}
            
            {% for item in search_item %}
            	{% if cond == item.0 %}
            		change_cond_item('{{item.1}}', '{{item.0}}');
            	{% endif %}
            {% endfor %}
            
            $('input[name=btn_detail]').click(function(){
            	var fid = $(this).closest('tr').find('form').attr('id');
            	var obj = document.getElementById(fid);
				obj.action="fun_details";
				obj.submit();
            });
            
            $('input[name=btn_fix]').click(function(){
            	$.get("/api/fix/funshion/",$(this).closest('tr').find('form').serialize(), function(data){
	                alert("ok");
	                location.reload();
	        	});
            });
            
            $('input[name=btn_kick]').click(function(){
            	$.get("/api/subscribe/fun/eliminate/",$(this).closest('tr').find('form').serialize(), function(data){
	                alert("ok");
	                location.reload();
	        	});
            });
            
            /*
            $('img[name=more]').click(function(){
            	$.ajax({
	                url: "/api/subscribe/funid/",
	                type: "GET",
	                data: $(this).closest('tr').find('form').serialize(),
	                success: function(data) {
	                    var obj = JSON.parse(data);
	                    $.each(obj.data, function(i, item) {
	            			$('tr[id='+obj.row_id+']').after(
		            			"<tr id='" + item.id + "'>" +
		            			"<form id='" + item.id + "' name='form2' action='' method=''>" +
		            			"<td>"+""+
		            			"</td><td>"+item.dou_id+
		            			"</td><td>"+item.name+
		            			"</td><td>"+item.title+
		            			"</td><td>"+item.category+"</td><td>"+
		            			""
		            			+"</td><td>"+item.fit+"%"+"</td><td>"+
		            			{% if item.status = 0 %}
		            				"初始"
		            			{% elif item.status = 1 %}
		            				"已编辑"
		            			{% else %}
		            				"被剔除"
		            			{% endif %}
		            			+"<input id='border' name='id' value='" +  item.id + "'/>"+
					            "<input id='border' name='media_id' value='" + item.fun_id + "'/>"+
					            "<input id='border' name='show_id' value='" + item.show_id + "'/>"+
					            "<input id='border' name='name' value='" + item.name + "'>"+
					            "<input id='border' name='title' value='" + item.title + "'>"+
					            "<input id='border' name='director' value='" + item.director + "'>"+
					            "<input id='border' name='actor' value='" + item.actor + "'>"+
					            "<input id='border' name='db_dir' value='" + item.db_dir + "'>"+
					            "<input id='border' name='db_act' value='" + item.db_act + "'>"+
					            "<td><input type='button' name='btn1' value='详细信息'/> "+
	    						"<input type='button' name='btn2' value='剔除'/>"+
	    						"</td></form></tr>");
	        			});
	        			$('tr[id="new"]').toggle();
	                },
	                error: function(xhr, textStatus, errorThrown) {
	                    alert("get error");
	                }
	            });
            });
            */
        });
	</script>
	<script>
        function change_disable_item(content, val)
        {
            document.getElementById("disable_item").innerHTML=content + " <span class=\"caret\"></span>";
            document.getElementById("disable_box").value = val
        }
        function change_status_item(content, val)
        {
            document.getElementById("status_item").innerHTML=content + " <span class=\"caret\"></span>";
            document.getElementById("status_box").value = val
        }
        function change_order_item(content, val)
        {
            document.getElementById("order_item").innerHTML=content + " <span class=\"caret\"></span>";
            document.getElementById("order_box").value = val
        }
        function change_cond_item(content, val)
        {
            document.getElementById("cond_item").innerHTML=content + " <span class=\"caret\"></span>";
            document.getElementById("cond_box").value = val
        }
        function pageCheck()
        {
            try {
                var x=document.getElementById("page_go").value;
                if(x=="")    throw "值为空";
                if(isNaN(x)) throw "不是数字";
                if(x>{{ page_count }})     throw "页数太大";
                if(x<1)      throw "页数太小";
            }
            catch(err) {
                var y=document.getElementById("err_doc");
                y.innerHTML="错误：" + err + "。";
                event.returnvalue=false;
                return
            }
            var disable = document.getElementById("disable_box").value;
            var status = document.getElementById("status_box").value;
            var order = document.getElementById("order_box").value;
            var cond = document.getElementById("cond_box").value;
            var content = document.getElementById("content_box").value;
            location.href = "?page="+x+"&count="+{{count}}+"&disable="+disable+"&status="+status+"&order="+order+"&cond="+cond+"&content="+content;
        }
    </script>

<div class="container-fluid">
	<h2 class="text-center">风行数据列表</h2>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">		
				<form class='list_form' id='list_form' action="" method="GET">					
					<div class="btn-group">
	                    <a class="btn dropdown-toggle" id="disable_item" data-toggle="dropdown" href="#">
	                        <span class="caret"></span>
	                    </a>
	                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	                    	{% for item in disable_item %}	                    	
	                    		<li><a tabindex="-1" href="javascript:change_disable_item('{{item.1}}', '{{item.0}}')">{{item.1}}</a></li>
	                        {% endfor %}
	                    </ul>
	                </div>
	                <input class="text" id='disable_box' style="display:none" name="disable" value=""></input>
		            
		            <div class="btn-group">
	                    <a class="btn dropdown-toggle" id="status_item" data-toggle="dropdown" href="#">
	                        <span class="caret"></span>
	                    </a>
	                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	                    	{% for item in status_item %}	                    	
	                    		<li><a tabindex="-1" href="javascript:change_status_item('{{item.1}}', '{{item.0}}')">{{item.1}}</a></li>
	                        {% endfor %}
	                    </ul>
	                </div>
	                <input class="text" id='status_box' style="display:none" name="status" value=""></input>
	                
	                <div class="btn-group">
	                    <a class="btn dropdown-toggle" id="order_item" data-toggle="dropdown" href="#">
	                        <span class="caret"></span>
	                    </a>
	                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	                    	{% for item in order_item %}	                    	
	                    		<li><a tabindex="-1" href="javascript:change_order_item('{{item.1}}', '{{item.0}}')">{{item.1}}</a></li>
	                        {% endfor %}
	                    </ul>
	                </div>
	                <input class="text" id='order_box' style="display:none" name="order" value=""></input>
	                		            
		       		<button id="filter" type="submit" class="btn btn-primary">确定</button>
		   		</form>
		   	</div>
		   	
		   	<div class="span6">
				<form class="search_form" id="search_form" action="" method="GET">				
					<div class="btn-group">
		                <a class="btn dropdown-toggle" id="cond_item" data-toggle="dropdown" href="#">
		                    <span class="caret"></span>
		                </a>
		                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		                	{% for item in search_item %}	                    	
		                		<li><a tabindex="-1" href="javascript:change_cond_item('{{item.1}}', '{{item.0}}')">{{item.1}}</a></li>
		                    {% endfor %}
		                </ul>
		            </div>
	                <input class="text" id="cond_box" style="display:none" name="cond" value=""></input>
	                <input class="text" id="content_box" name="content" value=""></input>
	           		<button id="filter" type="submit" class="btn btn-primary">搜索</button>
	       		</form>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">		
		<fieldset>
			<table class="table table-hover">
			    <thead>
			        <tr>
			        	<th width="6%">风行ID</th>
			            <th width="8%">豆瓣ID</th>
			            <th width="17%">风行title</th>
			            <th width="18%">豆瓣title</th>
			            <th width="13%">风行分类</th>
			            <th width="6%">可播放</th>
			            <th width="7%">匹配度</th>
			            <th width="7%">状态</th>
			            <th width="18%">操作</th>
			        </tr>
			    </thead>
			    <tbody>
			        {% for k in video_list %}
			            <tr>
				            <form id="{{k.id}}" name="form2" action="" method="">
				            	<td><a href="http://www.fun.tv/vplay/m-{{ k.media_id }}" target="_blank">{{ k.media_id }}</a></td>
				            	<td>
				            		{% if k.show_id %}
				            			<a href="http://movie.douban.com/subject/{{ k.show_id }}" target="_blank">{{ k.show_id }}</a>
				            		{% else %}
				            		{% endif %}
				            	</td>
				                <td>{{ k.name}}</td>
				                <td>
				                	{% if k.title %}
				                		{{ k.title }}
				                	{% else %}
				                	{% endif %}
				                </td>		                
				                <td>{{ k.category}}</td>
				                {% if k.disable == 0 %}
				                	<td><img src="{% static 'images/yes.gif' %}"></td>
				                {% else %}
				                	<td><img src="{% static 'images/no.gif' %}"></td>   
				                {% endif %}
				                
				                <td>
				                	{% if k.fit %}
				                		{{ k.fit }}%
				                	{% else %}
				                	{% endif %}
				                </td> 
				                
				                {% if k.status == 0 %}
				                	<td>初始</td>   
				                {% elif k.status == 1 %}
				                	<td>已编辑</td> 
				                {% elif k.status == 2 %}
				                	<td>被踢除</td>   
				                {% else %}	
				                	<td></td>   
				                {% endif %}
				                <input id="border" name="id" value="{{ k.id }}"/>
				                <input id="border" name="media_id" value="{{ k.media_id }}"/>
				                <input id="border" name="show_id" value="{{ k.show_id }}"/>
				                <input id="border" name="name" value="{{ k.name }}">
				                <input id="border" name="title" value="{{ k.title }}">
				                <input id="border" name="director" value="{{ k.director }}">
				                <input id="border" name="actor" value="{{ k.actor }}">
				                <input id="border" name="db_dir" value="{{ k.db_dir }}">
				                <input id="border" name="db_act" value="{{ k.db_act }}">
				                <input id="border" name="category" value="{{ k.category }}">
				                <input id="border" name="type" value="{{ k.type }}">
				                <td>
				                	<input type="button" name="btn_detail" value="详情"/>
				                	
				                	{% if perms.subscribe.modifyAll_fun %}
										<input type="button" name="btn_fix" value="修复"/>
									{% else %}	
										<input type="button" name="btn_fix" disabled="true" value="修复"/>
									{% endif %}
									
									{% if perms.subscribe.del_fun %}
										<input type="button" name="btn_kick" value="剔除"/>
									{% else %}	
										<input type="button" name="btn_kick" disabled="true" value="剔除"/>
									{% endif %}
    								
				                </td>
				            </form>
			            </tr>
			        {% endfor %}
			    </tbody>
			</table>
		</fieldset>	
		
        <div>			
        	<table class="table">
	            <tbody>
	                <tr>
	                    <td>总计<b>{{ video_total }}</b>条, <b>{{ page_count }}</b>页 </td>
	                    <td>
	                        <div>
	                        	第<input class="text span1" id="page_go" name="page" value={{page}} placeholder="几" onkeypress="if(event.keyCode==13||event.which==13){return pageCheck()}">页
	                            <input id="page_subit" type="button" value="转到" class="btn btn-primary" onclick="pageCheck()"></input>
	                            <p id="err_doc"></p>
	                        </div>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
        </div>			
			
		<div class="pagination pagination-large">
		    <ul>
		        {% if page > 1 %}
		            <li><a href="?page=1&count={{ count }}&disable={{disable}}&status={{status}}&order={{order}}&cond={{cond}}&content={{content}}">&lt;&lt;</a></li>
		            <li><a href="?page={{ page|add:-1 }}&count={{count}}&disable={{disable}}&status={{status}}&order={{order}}&cond={{cond}}&content={{content}}">&lt;</a></li>
		        {% else %}
		            <li class="disabled"><a>&lt;&lt;</a> </li>
		            <li class="disabled"><a>&lt;</a> </li>
		        {% endif %}
		
		        {% for pg in page_list %}
		            {% if pg == page %}
		                <li><a class="btn btn-success" href="?page={{pg}}&count={{count}}&disable={{disable}}&status={{status}}&order={{order}}&cond={{cond}}&content={{content}}">{{pg}}</a></li>
		            {% else %}
		                <li><a href="?page={{pg}}&count={{count}}&disable={{disable}}&status={{status}}&order={{order}}&cond={{cond}}&content={{content}}">{{pg}}</a></li>
		            {% endif %}
		        {% endfor %}
		
		        {% if page < page_count %}
		            <li><a href="?page={{ page|add:1 }}&count={{count}}&disable={{disable}}&status={{status}}&order={{order}}&cond={{cond}}&content={{content}}">&gt;</a></li>
		            <li><a href="?page={{ page_count }}&count={{count}}&disable={{disable}}&status={{status}}&order={{order}}&cond={{cond}}&content={{content}}">&gt;&gt;</a></li>
		        {% else %}
		            <li class="disabled"><a>&gt;</a></li>
		            <li class="disabled"><a>&gt;&gt;</a></li>
		        {% endif %}
		    </ul>
		</div>
	</div>  
</div>         

{% endblock %}
