{% extends "base.html" %}
{% load static %}

{% block content %}

<style type="text/css">
    #tip {
        width: 500px;
        text-align: left;
        color:red;
    }
</style>

<script type="text/javascript" src="{% static 'js/plupload.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script>
    $(document).ready(function() {
        document.getElementById('btn_submit').disabled  = true;

        $('form').submit(function () {
            var me = this;
            var taskid = document.getElementById('show_id').value;
            var url = $(this).attr('action')
            me.xhr = $.ajax({
                url: url,
                type: 'POST',
                data: $(this).serialize(),
                dataType: 'json',
                error: function(){
                    document.getElementById('tip').innerHTML = 'cannot post to ' + url;
                    me.xhr = null;
                },
                success: function(data){
                    document.getElementById('tip').innerHTML = data.msg;
                    me.xhr = null;
                    //location.reload();
                    history.go(0);
                }
            }); 
            return false;
		});
    });
</script>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		    <form class="form-horizontal" action="/repost/upload" method="POST">
		    	{% csrf_token %}
		        <div class="control-group">
		        	<div class="controls">
                        <input type="text" class="input-xlarge" id="show_id" name="show_id" style="display:none">
                    </div>
		    	</div>

		    	<div class="control-group">
		    		<div class="controls" id="tip">{{ tips }}</div>
		    	</div>
		    	
            	<div class="control-group">
		        	<label class="control-label">视频：</label>
		        	<div class="controls">
		            	<input type="text" class="input-xlarge" id="fname" name="fname" readonly>
                        <button id="selbtn" href="javascript:;">浏览文件</button>
		        	</div>
		    	</div>

		    	<div class="control-group">
		        	<label class="control-label">标题：</label>
		        	<div class="controls">
		            	<input type="text" class="input-xlarge" id="title" name="title" >
		        	</div>
		    	</div>
		    	
		    	<div class="control-group">
		        	<label class="control-label">标签：</label>
		        	<div class="controls">
		            	<input type="text" class="input-xlarge" placeholder="以|分割" id="tags" name="tags" >
		        	</div>
		    	</div>
		    	
		    	<div class="control-group">
		        	<label class="control-label">简介：</label>
		        	<div class="controls">
		            	<textarea type="textarea" class="input-xlarge" id="desc" name="desc" ></textarea>
		        	</div>
		    	</div>
		    
		    	<div class="control-group">
		        	<label class="control-label">优先级：</label>
		        	<div class="controls">
		            	<select class="input-xlarge" id="priority" name="priority">
		                	<option value="3">很低</option>
		                	<option value="4">低</option>
		                	<option value="5">中</option>
		                	<option value="6">高</option>
		                	<option value="7">很高</option>
		            	</select>
		        	</div>
		    	</div>
		    	
		    	<div class="control-group">
		        	<label class="control-label">频道：</label>
		        	<div class="controls">
		            	<select class="input-xlarge" id="channel" name="channel">
		            		{% for item in classifi_item %}	 
		            			<option value="{{item.0}}">{{item.1}}</option>                   	
	                        {% endfor %}
		            	</select>
		        	</div>
		    	</div>
		    	
		    	
				<div class="control-group">
		          <label class="control-label">免审：</label>
		          <div class="controls">
		             <input type="radio" name="audit_free" value="0"> 是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		             <input type="radio" name="audit_free" value="1" checked> 否<br>
		          </div>
		        </div>
		
                <div class="row">
                    <div class="span7 control-group">
                        <div class="controls progress">
                            <div class="bar" id="progressbar"></div>
                        </div>
                    </div>
                    <div class="span3" id="progresstext"></div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button id="cancel_upload" class="btn btn-primary" type="button">取消上传</button>
                        <button id="btn_submit" class="btn btn-primary" type="submit">提交</button>
                    </div>
                </div>
			</form>

            <div id="debug" style="display:none">
                <div><a>file name: </a><a id="name" ></a></div>
                <div><a>file size: </a><a id="size" ></a></div>
                <div><a>hash id: </a><a id="hashid" ></a></div>
                <div><a>offset: </a><a id="offset" ></a><div>
                <div><a>progress: </a><a id="progress" ></a><div>
            </div>
            <div><a>console: </a><a id="console" ></a><div>

		</div>
	</div>
</div>

<script type="text/javascript">
// Custom example logic

var uploader = new plupload.Uploader({
	runtimes : 'html5,flash,silverlight,html4',
	browse_button : 'selbtn', // you can pass in id...
	container: document.getElementById('fname'), // ... or DOM Element itself
    url: '{{uploader_domain}}' + '/tigress/upload',
	flash_swf_url : '../js/Moxie.swf',
	silverlight_xap_url : '../js/Moxie.xap',

    multi_selection:false,
    max_file_size : 10737418240,    //10G
    chunk_size : 10485760,  //10M
    file_data_name: 'resource',

	init: {
		PostInit: function() {

		},

		FilesAdded: function(up, files) {
            var file = files[0];
            var pre = 'htmlupload-13';
            uploader.hashid = encodeURIComponent(this.hash(pre + file.name + file.lastModifiedDate + file.size));

            //request taskid from tigress
            uploader.query_info('{{uid}}', uploader.hashid, file.name, file.size);

		},

		BeforeUpload: function(up, file) {
            var offset = uploader.offset;
            file.loaded = offset;

            uploader.befor_upload(file.name, file.size, uploader.hashid, file.offset);
            uploader.update_progress(Math.ceil(file.loaded * 100 / file.size), file.loaded, file.size);

            if (offset < file.size) {
                var data_length = uploader.settings.chunk_size;
                if (file.size - offset < uploader.settings.chunk_size) {
                    data_length = file.size - offset;
                }

                up.settings.url = '{{uploader_domain}}' + '/tigress/upload?uid=' + '{{uid}}' + '&hashid=' + uploader.hashid + '&offset=' + offset + '&length=' + data_length + '&fileid=0&t=0&c=0';

            } else {
                uploader.stop();
                uploader.finish_upload();
            }
		},

		FileUploaded: function(up, file, resp) {
            uploader.finish_upload();
		},

		UploadProgress: function(up, file) {
            uploader.update_progress(file.percent, file.loaded, file.size);
		},

		Error: function(up, err) {
			document.getElementById('console').innerHTML += "<span>Error #" + err.code + ": " + err.message + "</span>";
		},

		ChunkUploaded: function(up, file, resp) {
            document.getElementById('console').innerHTML += '<span>-' + file.loaded + '-</span>';

            var data_length = uploader.settings.chunk_size;
            if (file.size - offset < uploader.settings.chunk_size) {
                data_length = file.size - offset;
            }

            up.settings.url = '{{uploader_domain}}' + '/tigress/upload?uid=' + '{{uid}}' + '&hashid=' + uploader.hashid + '&offset=' + file.loaded + '&length=' + data_length + '&fileid=0&t=0&c=0';
		},
        UploadComplete: function (up, files) {
            uploader.refresh();
        }

	}
});


uploader.query_info = function(uid, hashid, filename, filelength) {
    var me = this;
    me.xhr = $.ajax({
        url: '{{uploader_domain}}' + '/tigress/prog',
        type: 'POST',
        data:{
            hashid : hashid,
            filename : encodeURIComponent(filename),
            filelength : filelength,
            uid : uid
        },
        dataType: 'json',
        error: function(){
            me.xhr = null;
            alert('request progress fail, please add file again.');
        },
        success: function(data){
            me.xhr = null;

            uploader.taskid = data.taskid;
            uploader.offset = data.offset;
            uploader.start();

        }
    }); 
};

uploader.hashid = '';
uploader.taskid = '';
uploader.offset = '';

uploader.hash = function(str, len){
    len = len || 32;
    var stringxor = function(s1, s2) {
        var s = '', hash = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ',max = Math.max(s1.length, s2.length);
        for(var i=0; i<max; i++) {
            var k = s1.charCodeAt(i) ^ s2.charCodeAt(i);
            s += hash.charAt(k % 52);
        }
        return s;
    };

    var start = 0, i = 0, result = '',filllen = len - str.length % len;
    for(i = 0; i < filllen; i++) str += "0";
    while(start < str.length) {
        result = stringxor(result, str.substr(start, len));
        start += len;
    }
    return result;
};

uploader.update_progress = function(percent, loaded, size) {
    var progressbar = document.getElementById("progressbar");
    progressbar.style.width = percent + '%';
    var label = document.getElementById("progresstext");
    label.innerHTML = loaded + "/" + size;

    document.getElementById('progress').innerHTML = '<span>' + percent + "%</span>";
};

uploader.befor_upload = function(name, size, hashid, offset) {
    document.getElementById('btn_submit').disabled  = true;
    document.getElementById('selbtn').disabled  = true;
    document.getElementById('show_id').value = uploader.taskid;

    document.getElementById('fname').value = name;
    document.getElementById('name').innerHTML = name;
    document.getElementById('size').innerHTML = size;
    document.getElementById('hashid').innerHTML = hashid;
    document.getElementById('offset').innerHTML = offset;
    document.getElementById('console').innerHTML += '<span>-add-</span>';
};

uploader.finish_upload = function() {
    document.getElementById('btn_submit').disabled  = false;
    document.getElementById('console').innerHTML += '<span>-fiinish-</span>';
};

document.getElementById('cancel_upload').onclick = function() {
    uploader.stop();
    location.reload();
};

uploader.init();

</script>

{% endblock %}

