
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>风行UGC系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/fav.gif" mce_href="/static/fav.gif" rel="icon" type="image/x-icon" />
    <script src="/static/libs/jquery/jquery-1.9.1.min.js"></script>
    <script src="/static/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

  </head>


  <body onload="document.forms.item().username.focus()">
      <h2>用户登录</h2>   
      {% if form.errors %}
        <p><font color="red"> 您输入的用户名或密码错误，请重新输入 </font></p>
      {% endif %}
        <form class="form-horizontal" action="/accounts/login/" method="POST">
          <div class="control-group">
            <label class="control-label" for="id_username">用户名:</label>
            <div class="controls">
              {{ form.username }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_password">密码:</label>
            <div class="controls">
              {{ form.password }}
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">登录</button>
            </div>
          </div>
          <input type="hidden" name="next" value="{{next}}" />
        </form>

      <script type="text/javascript">
          $('id_username').focus();
      </script>
  <body>
</html>