{% extends "base.html" %}
{% load myTag %}

{% block script %}
<style type="text/css">
    #tips {
        width: 500px;
        text-align: left;
        color:red;
        font-size:60%;
    }
</style>
<script language="javascript">
	function changeChannel(){
		with(document.myForm){
	    var sites = new Array();
	    sites["0"] = ["--请选择网站和频道--"];
	    sites["1"] = ["youku"];
	    sites["2"] = ["娱乐","体育","新闻","搞笑","汽车","母婴","旅游","时尚","健康","科技","游戏","美女","电视剧","电影",                   
                   "综艺","动漫","纪录片","热点","公开课","财经","音乐","军事","广场舞","梦之声","生活百科","微电影"];
	    var value = site.value;
	    channel.options.length = 0;
	    var option;
	    for(i = 0;i < sites[value].length;i++){
		    option = new Option(sites[value][i],sites[value][i]);
		    channel.options.add(option);
	    }
	    if(site.value == "0")
	    	channel.disabled = true;
	    else
	    	channel.disabled = false;
	    }
	}
</script>
{% endblock %}

{% block content %}	
<script>
  $(document).ready(function(){
    {% if tip %}
        alert("{{ tip }}");
    {% endif %}
  });
</script>
<ul>	
	<form name="myForm" class="form-horizontal" role="form" action="" method="post">
		{% csrf_token %}
   		
	    <fieldset>
		    <div id="legend" class="">
		    	<legend class="">请填写内容：<span id="tips">youtube解析较慢，请耐心等待一会</span></legend>
		    </div>
		    <div class="control-group">
		          <label class="control-label">网站</label>
		          <div class="controls">
		            <select class="input-xlarge" id="site" name="site" onChange="changeChannel()">
		            	<option value="0">--请选择网站--</option>
		            	<option value="1">优酷</option>
		                <option value="2">YouTube</option>
		            </select>
		          </div>
		    </div>    	
	        
		    <div class="control-group">
		          <label class="control-label" for="input01">URL</label>
		          <div class="controls">
		            <input type="text" placeholder="请输入要订阅的URL" class="input-xlarge" id="url" name="url" >
		            <p class="help-block">优酷示例：http://i.youku.com/u/xxxxxx</p>
			        <p class="help-block">YouTube示例：https://www.youtube.com/channel/xxxxxxx</p>
		          </div>
		    </div>
	
		    <div class="control-group">
		          <label class="control-label">频道</label>
		          <div class="controls">
		            <select class="input-xlarge" id="channel" name="channel">
		            	<option>--请选择频道--</option>
		            </select>
		          </div>
		    </div>    
	    	
			<div class="form-group">
		        <div class="col-sm-offset-2 col-sm-10">
		        	{% if perms.subscribe.add_ordered %}
	                	<button type="submit" class="btn btn-primary">添加</button>
	                {% else %}
	                	<button type="submit" class="btn" disabled="true">添加(无权限)</button>
	                {% endif %}
		        </div>
		    </div>    

		</fieldset>
	</form>
	
</ul>
{% endblock %}
