{% load static %}

<script>
    $(document).ready(function() {
        //cancel button click
        $('[name=btn-kw-cancel]').click(function(){ 
            var $url = $(this).closest("tr").find("#url").text();
            //call cat cancel
            $.ajax({
                url: "/api/subscribe/cat/cancel/",
                type: "GET",
                data: {
                    cat_url: $url
                },
                success: function(data) {
                    var obj = JSON.parse(data);
                    alert("result: " + obj.ret);
                    $('#tips').text('');
                    $("#kw-content").load("{% url 'cat_show' %}");
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("get error");
                }
            });
        });

        //manual button click
        $('[name=btn-kw-manual]').click(function(){ 
            var $site = $(this).closest("tr").find("#site").text();
            var $url = $(this).closest("tr").find("#url").text();
            var $cat_id  = $(this).closest("tr").find("#cat_id").text();
            //call cat manual
            $.ajax({
                url: "/api/subscribe/cat/manual/",
                type: "GET",
                data: {
                    site: $site,
                    cat_id: $cat_id,
                    url: $url
                },
                success: function(data) {
                    var obj = JSON.parse(data);
                    alert("result: " + obj.ret);
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("get error");
                }
            });
        });

        //add act button click
        $('#btn-kw-add-act').click(function() {
            $("#kw-content").load("{% url 'cat_add' %}");
        });


    });
</script>

<div>
	{% if perms.subscribe.add_cat %}
    	<button id="btn-kw-add-act" class="btn btn-primary">添加分类页</button>
    {% else %}
    	<button id="btn-kw-add-act" class="btn" disabled="true">添加分类页(无权限)</button>
    {% endif %}
    <br><br>
</div>

<table id="keyword-tb" class="table table-hover">
    <thead>
        <tr>
            <th width=10%><nobr>序号</nobr></th>
            <th style="display:none;"></th>
            <th width=20%>分类页名称</th>           
            <th width=40%>分类页URL</th>           
            <th width=10%>网站</th>
            <th width=10%>操作</th>
            <th width=10%>手动爬取</th>
        </tr>
    </thead>
    <tbody>
        {% for p in cat_info %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td style="display:none;" id="site">{{ p.site.site_id}}</td>
                <td style="display:none;" id="cat_id">{{ p.id}}</td>
                <td>
                	{{ p.cat_name }}
                	<a href="/subscribe/video?cond=cat&content={{ p.id }}">
                		<img src="{% static 'images/jump.png' %}" style="max-height:26px; max-width:26px;"/>
                	</a>
                </td>
                <td id="url">{{ p.url }}</td>                
                <td>{{ p.site.site_name }}</td>
                <td>
                {% if perms.subscribe.del_cat %}
                	<nobr><button name="btn-kw-cancel" class="btn btn-primary">取消订阅</button></nobr>
                {% else %}
                	<nobr><button name="btn-kw-cancel" class="btn" disabled="true">取消订阅(无权限)</button></nobr>
                {% endif %}
                </td>
                <td>
                {% if perms.subscribe.manual_cat %}
                	<nobr><button name="btn-kw-manual" class="btn btn-primary">即刻爬虫</button></nobr>
                {% else %}
                	<nobr><button name="btn-kw-manual" class="btn" disabled="true">即刻爬虫(无权限)</button></nobr>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

