{% load myTag static %}

<script>
    $(document).ready(function() {
        $('#tips').text('');

        //cancel button click
        $('form').submit(function () {

            //check field value
            var field = $.trim($('#keyword').val());
            if (field  === '') {
                $('#tips').text('请填写关键词');
                return false;
            }
            field = $.trim($('#user').val());
            if (field === '') {
                $('#tips').text('请选择风行分类');
                return false;
            }
			field = $.trim($('#site').val());
            if (field === '') {
                $('#tips').text('请选择源网站');
                return false;
            }
            
            //send request
            $.get($(this).attr('action'), $(this).serialize(), function(data) {
                var obj = JSON.parse(data);
                $('#tips').text('添加关键词结果: ' +  obj.ret);
                $("#kw-content").load("{% url 'keyword_show' %}");
            });
            return false;
        });
		
		$('#site').on('change', function (e) {
			var svalue = site.value;
			var site_item = '0';
		    cat_id.options.length = 0;
		    var option;
		    if (svalue == '1'){
			    {% for item in youku_item %}
					option = new Option('{{ item.cat_name }}', '{{ item.cat_id }}');
				    cat_id.options.add(option);
				{% endfor %}
			}
			else if (svalue == '2'){
			    {% for item in youtube_item %}
					option = new Option('{{ item.cat_name }}', '{{ item.cat_id }}');
				    cat_id.options.add(option);
				{% endfor %}
			}
			else if (svalue == '6'){
			    {% for item in ku6_item %}
					option = new Option('{{ item.cat_name }}', '{{ item.cat_id }}');
				    cat_id.options.add(option);
				{% endfor %}
			}
		});
    });
</script>

<form name="myForm" class="form-horizontal" role="form" action="/api/subscribe/keyword/add/">
    
    <div class="control-group">
    	<label class="control-label">关键词</label>
        <div class="controls">
            <input type="text" placeholder="请输入要订阅的关键词" class="input-xlarge" id="keyword" name="keyword" >
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">风行分类</label>
        <div class="controls">
			<select class="input-xlarge" id="user" name="user">
                {% for item in classifi_item %}
	            	<option value="{{item.0}}">{{item.1}}</option>
	            {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">源网站</label>
        <div class="controls">
            <select class="input-xlarge" id="site" name="site">
            	<option value="">--请选择网站--</option>
                <option value="1">优酷</option>
                <option value="2">YouTube</option>
                <option value="5">爱奇艺</option>
                <option value="6">酷6</option>
            </select>
        </div>
    </div> 
    
    <div class="control-group">
        <label class="control-label">源网站分类</label>
        <div class="controls">
            <select class="input-xlarge" id="cat_id" name="cat_id">
            	<option>--请选择频道--</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">订阅</button>
        </div>
    </div>
</form>
