{% load static %}

<script>
    $(document).ready(function() {
        //cancel button click
        $('[name=btn-kw-cancel]').click(function(){ 
            var $url = $(this).closest("tr").find("#url").text();
            //call page cancel
            $.ajax({
                url: "/api/subscribe/page/cancel/",
                type: "GET",
                data: {
                    page_url: $url
                },
                success: function(data) {
                    var obj = JSON.parse(data);
                    alert("result: " + obj.ret);
                    $('#tips').text('');
                    $("#kw-content").load("{% url 'page_show' %}");
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("get error");
                }
            });
        });

        //add act button click
        $('#btn-kw-add-act').click(function() {
            $("#kw-content").load("{% url 'page_add' %}");
        });

        //manual button click
        $('[name=btn-kw-manual]').click(function(){ 
            var $site = $(this).closest("tr").find("#site").text();
            var $url = $(this).closest("tr").find("#url").text();
            var $user = $(this).closest("tr").find("#user").text();
            var $page_id = $(this).closest("tr").find("#page_id").text();

            //call page manual
            $.ajax({
                url: "/api/subscribe/page/manual/",
                type: "GET",
                data: {
                    site: $site,
                    page_id: $page_id,
                    user: $user,
                    url: $url
                },
                success: function(data) {
                    var obj = JSON.parse(data);
                    alert("result: " + obj.ret);
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("get error");
                }
            });
        });

    });
</script>

<div>
	{% if perms.subscribe.add_page %}
    	<button id="btn-kw-add-act" class="btn btn-primary">添加页面</button>
    {% else %}
    	<button id="btn-kw-add-act" class="btn" disabled="true">添加页面(无权限)</button>
    {% endif %}
    <br><br>
</div>

<table id="keyword-tb" class="table table-hover">
    <thead>
        <tr>
            <th width=5%><nobr>序号</nobr></th>
            <th style="display:none;"></th>
            <th style="display:none;"></th>
            <th width=45%>URL</th>           
            <th width=10%>风行分类</th>
            <th width=10%>源网站</th>
            <th width=10%>添加时间</th> 
            <th width=10%>操作</th>
            <th width=10%>手动爬取</th>
        </tr>
    </thead>
    <tbody>
        {% for p in page_info %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td style="display:none;" id="url">{{ p.id }}|{{ p.url }}</td>
                <td style="display:none;" id="site">{{ p.site.site_id }}</td>
                <td style="display:none;" id="page_id">{{ p.id }}</td>
                <td>
                	{{ p.url }}
                	<a href="/subscribe/video?cond=page&content={{ p.id }}">
                		<img src="{% static 'images/jump.png' %}" style="max-height:26px; max-width:26px;"/>
                	</a>
                </td>                
                <td id="user">{{ p.user }}</td>
                <td>{{ p.site.site_name }}</td>
                <td>{{ p.ctime|date:"Y-m-d H:i:s" }}</td>
                {% if perms.subscribe.delete_page %}
                	<td><nobr><button name="btn-kw-cancel" class="btn btn-primary">取消订阅</button></nobr></td>
                {% else %}
                	<td><nobr><button name="btn-kw-cancel" class="btn" disabled="true">取消订阅(无权限)</button></nobr></td>
                {% endif %}
                {% if perms.subscribe.manual_page %}
                	<td><nobr><button name="btn-kw-manual" class="btn btn-primary">即刻爬虫</button></nobr></td>
                {% else %}
                	<td><nobr><button name="btn-kw-manual" class="btn" disabled="true">即刻爬虫(无权限)</button></nobr></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

