
<script>
    $(document).ready(function() {
        $('#tips').text('');

        //cancel button click
        $('form').submit(function () {

            //check field value
            var field = $.trim($('#site').val());
            if (field  === '0') {
                $('#tips').text('请选择网站');
                return false;
            }
            field = $.trim($('#subject').val());
            if (field === '') {
                $('#tips').text('请填写名称');
                return false;
            }
            field = $.trim($('#user').val());
            if (field === '') {
                $('#tips').text('请填写类型');
                return false;
            }
            field = $.trim($('#url').val());
            if (field === '') {
                $('#tips').text('请填写url');
                return false;
            }
            
            //send request
            $.get($(this).attr('action'), $(this).serialize(), function(data) {
                var obj = JSON.parse(data);
                $('#tips').text('添加专题结果: ' +  obj.ret);
                $("#kw-content").load("{% url 'subject_show' %}");
            });
            return false;
        });

    });
</script>


<form class="form-horizontal" role="form" action="/api/subscribe/subject/add/">
	{% csrf_token %}
	
	<fieldset>
		    <div id="legend" class="">
		    	<legend class="">请填写内容：</legend>
		    </div>
		    <div class="control-group">
		          <label class="control-label">网站</label>
		          <div class="controls">
		            <select class="input-xlarge" id="site" name="site" onChange="changeChannel()">
		            	<option value="0">--请选择网站--</option>
		            	<option value="5">爱奇艺</option>
                        <!--
                        <option value="1">优酷</option>
		                <option value="2">YouTube</option>
                        --!>
		            </select>
		          </div>
		    </div>

		    <div class="control-group">
		    	<label class="control-label">专题名称</label>
		        <div class="controls">
		        	<input type="text" placeholder="请输入要订阅的专题名称" class="input-xlarge" id="subject" name="subject" >  	
		        </div>		          
		    </div>
		    
		    <div class="control-group">
		    	<label class="control-label">专题类型</label>
		        <div class="controls">
		        	<input type="text" placeholder="例如：娱乐、搞笑……" class="input-xlarge" id="user" name="user" >  	
		        </div>		          
		    </div>
		    
		    <div class="control-group">
		          <label class="control-label" >专题URL</label>
		          <div class="controls">
		            <input type="text" placeholder="请输入要订阅的专题URL" class="input-xlarge" id="url" name="url" >
		          </div>
		    </div>
		    
		    <div class="control-group">
		        <div class="col-sm-offset-2 col-sm-10">
		            <button type="submit" class="btn btn-primary">添加</button>
		        </div>
		    </div>		    
	</fieldset> 	
    
</form>	


