{% load static %}

<script>
    $(document).ready(function() {
        //cancel button click
        $('[name=btn-kw-cancel]').click(function(){ 
            var $url = $(this).closest("tr").find("#url").text();
            //call subject cancel
            $.ajax({
                url: "/api/subscribe/subject/cancel/",
                type: "GET",
                data: {
                    subject_url: $url
                },
                success: function(data) {
                    var obj = JSON.parse(data);
                    alert("result: " + obj.ret);
                    $('#tips').text('');
                    $("#kw-content").load("{% url 'subject_show' %}");
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("get error");
                }
            });
        });

        //manual button click
        $('[name=btn-kw-manual]').click(function(){ 
            var $site = $(this).closest("tr").find("#site").text();
            var $url = $(this).closest("tr").find("#url").text();
            var $subject = $(this).closest("tr").find("#subject").text();
            var $subject_id = $(this).closest("tr").find("#subject_id").text();
            //call subject manual
            $.ajax({
                url: "/api/subscribe/subject/manual/",
                type: "GET",
                data: {
                    site: $site,
                    subject: $subject,
                    url: $url,
                    subject_id: $subject_id,
                },
                success: function(data) {
                    var obj = JSON.parse(data);
                    alert("result: " + obj.ret);
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("get error");
                }
            });
        });

        //add act button click
        $('#btn-kw-add-act').click(function() {
            $("#kw-content").load("{% url 'subject_add' %}");
        });


    });
</script>

<div>
	{% if perms.subscribe.add_subject %}
    	<button id="btn-kw-add-act" class="btn btn-primary">添加专题</button>
    {% else %}
    	<button id="btn-kw-add-act" class="btn" disabled="true">添加专题(无权限)</button>
    {% endif %}
    <br><br>
</div>

<table id="keyword-tb" class="table table-hover">
    <thead>
        <tr>
            <th width=10%><nobr>序号</nobr></th>
            <th style="display:none;"></th> 
            <th style="display:none;"></th> 
            <th width=20%>专题名称</th>           
            <th width=10%>专题类型</th>           
            <th width=40%>专题URL</th>           
            <th width=7%>网站</th>
            <th width=7%>操作</th>
            <th width=6%>手动爬取</th>
        </tr>
    </thead>
    <tbody>
        {% for p in subject_info %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td style="display:none;" id="site">{{p.site.site_id}}</td>
                <td style="display:none;" id="subject">{{p.subject_name}}</td>
                <td style="display:none;" id="subject_id">{{p.id}}</td>
                <td> 
                	{{ p.subject_name }}
                	<a href="/subscribe/video?cond=subject&content={{ p.id }}">
                		<img src="{% static 'images/jump.png' %}" style="max-height:26px; max-width:26px;"/>
                	</a>
                </td>
                <td>{{ p.cat_name }}</td>
                <td id="url">{{ p.url }}</td>                
                <td>{{ p.site.site_name }}</td>
                
                {% if perms.subscribe.del_subject %}
                	<td><nobr><button name="btn-kw-cancel" class="btn btn-primary">取消订阅</button></nobr></td>
                {% else %}
                	<td><nobr><button name="btn-kw-cancel" class="btn" disabled="true">取消订阅(无权限)</button></nobr></td>
                {% endif %}

                {% if perms.subscribe.manual_subject %}
                	<td><nobr><button name="btn-kw-manual" class="btn btn-primary">即刻爬虫</button></nobr></td>
                {% else %}
                	<td><nobr><button name="btn-kw-manual" class="btn" disabled="true">即刻爬虫(无权限)</button></nobr></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

